#container{
	display: flex;
	max-height: 80vh;
	max-width: 90vw;
	margin: auto;
	margin-top: 10vh;
}
#colonne_gauche {
  padding: 0;
  margin: 0;
  width: 70%;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.7);
  float: left;
  overflow: auto;
}
#colonne_gauche::-webkit-scrollbar { 
    display: none; 
}
#colonne_droite{
	padding: 0;
  margin: 0;
  width: 30%;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgba(0,0,0,1);
  float: left;
}

.flex-item {
  padding: 0px;
  width: 200px;
  height: 200px;
  margin: 20px 0;
  line-height: 200px;
  color: white;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  color: #000; 
  background: #fff;
  border-radius: 100px;
}
h1{
	color: #fff;
	font-size: 40px;
}
p{
  color: #fff;
  display: block;

}